<template>
    <lightning-input data-index={typeAttributes.index} data-searchname="dataTableElement" name={typeAttributes.fieldName} type="text"
        variant="label-hidden" value={value} class={typeAttributes.class} required={typeAttributes.isRequired}
        disabled={typeAttributes.isDisabled} max-length={typeAttributes.maxLength} onchange={typeAttributes.handler}
        onkeypress={typeAttributes.keypresshandler} data-maxlength={typeAttributes.maxLength}>
    </lightning-input>

</template>